.headings{
    background-color: #323232;
    width: 50%;
    margin: auto;
    text-align: center;
    color: #F4F4F4;
}
body{
    background-color: #FFE2E2;
}
.head-hr{
    border-style: solid none solid;
    height: 0.9px;
}
.text-box{
    background-color: #F6F6F6;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
    width:80%;
}
.subheading{
    display: inline;
    background-color: #FFEFEF;
    margin-left: 5%;
    font-size: 100%;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 200%;
}
/* form {
    to align text of form to center 
     display: flex;
    align-items: center;
    justify-content: center;

    Center the form on the page 
    margin: 0 auto;
    width: 40%; 

    Form outline
    padding: 1em;
    border: 2px solid #CCC;
    font-family:
    border-radius: 1em;
} */
.form{
    display: inline-block;
    background-color: #F6F6F6;    
    margin-left: 10%;
}
input:default {
    box-shadow: 0 0 2px 1px;
}
/*
default is a pseudo class- 
*/
#submit{
    align-items: center;
    background-color: #FFEFEF;
    border: solid;
    border-width: .01rem;
    border-radius: 0.3em;
}
  
